*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat ,sans-serif;
}

input,button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App{
  height: 100vh;
  background-image: linear-gradient(to right bottom,#f8f4f5 ,#7cd9f0);
  background-repeat: repeat-y;
}

form{
  display: block;
  position: relative;
  width: 400px;
  margin-top: 30px;
  margin-left: 530px;
}

form::after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right , #33414f ,#f8f4f5);
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2{
  color:cadetblue;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}
form .form-inner .form-group{
  display: block;
  color: #666;
  width: 300;
  margin-bottom: 5px;
}
.form-inner .form-inner label{
  display: block;
  color:#666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s; 
}
.form-inner .form-group:focus-within label{
  color:#fe4880
}
form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}
form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
form .form-inner input[type="submit"]{
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right ,#7cd9f0 ,#f8f4f5)
}
form .form-inner .form-group img{
  margin-left: 120px;
}
.navbar{
  width: 100%;
  height: 75px;
  background-color: #33414f;
}
.navbar .logo{
  float: left;
  margin-left: 5px;
  padding: 10px 10px;
}
.navbar .button1{
  padding: 10px 25px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: 0.4s;
  margin-left: 55px;
}
.navbar .button3{
  padding: 10px 25px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: 0.4s;
}
.navbar .button3 button{
  font-weight: 900;
}
.navbar .button1 button{
  font-weight: 900;
}
.navbar .button2 button{
  font-weight: 900;
}
.navbar .button2{
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: 0.4s;
}
.navbar .button3 button{
  font-weight: 900;
}
.navbar .button3{
  padding: 10px 25px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: 0.4s;
  
}
.navbar .button4 button{
  font-weight: 900;
}
.navbar .button4{
  padding: 10px 35px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: 0.4s;
 
}
.home{
 
  
}
.home span{
  font-weight: 900;
  font-size: 50px;
  color:darkcyan;

}
.home h3{
  color:dimgray;
 
}
.Cars{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right bottom,#f8f4f5 ,#7cd9f0);
}

.modal-confirm {		
  color: #636363;
  width: 325px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;   
      position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}	
.modal-confirm .icon-box {
  color: #fff;		
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.admin .card:hover{
    background-color: salmon;
    opacity: 0.3;
}
.admin .MuiPaper-root:hover{
  color:slategray;
  
}
@media (max-width: 767px) {
  .col {
      width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .col {
      width: 50%;
  }
}
@media (min-width: 1025px) {
  .col {
      width: 25%;
  }
}
